#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "apple_diacritics.macros"
#include "windows_diacritics.macros"

#define BASE 0
#define AUX_SHIFT 1
#define A_BASE 2
#define W_BASE 3
#define SYM  4
#define NAV  5
#define A_DIAC 6
#define W_DIAC 7
#define W_DIAC_S 8
#define ADJ  9
#define A_ADJ 10
#define W_ADJ 11

&mt {
	quick-tap-ms = <100>;
	global-quick-tap;
	flavor = "tap-preferred";
	tapping-term-ms = <170>;
};

/ {
   	macros {
		i_std: info_standard {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp S &kp T &kp A &kp N &kp D &kp A &kp R &kp D>;
		};			

		i_win: info_windows {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp W &kp I &kp N &kp D &kp O &kp W &kp S>;
		};

		i_apple: info_apple {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp A &kp P &kp P &kp L &kp E>;
		};
	};

	conditional_layers {
		compatible = "zmk,conditional-layers";
		
		apple_adjust {
			if-layers = <A_BASE ADJ>;
			then-layer = <A_ADJ>;
		};
		
		windows_adjust {
			if-layers = <W_BASE ADJ>;
			then-layer = <W_ADJ>;
		};

		windows_diacritics_shift {
			if-layers = <AUX_SHIFT W_DIAC>;
			then-layer = <W_DIAC_S>;
		};
	};	

        keymap {
                compatible = "zmk,keymap";

                base_layer {
 			label= "BASE";
 			bindings = <
		&kp Q		&kp W		&kp E		&kp R		&kp T		&kp Y		&kp U		&kp I		&kp O		&kp P
		&mt LGUI A	&mt LALT S	&mt LCTRL D	&mt LSHFT F	&mt GLOBE G	&mt GLOBE H	&mt RSHFT J	&mt RCTRL K	&mt RALT L	&mt RGUI SEMI
&kp TAB		&kp Z		&kp X		&kp C		&kp V		&kp B		&kp N		&kp M		&kp COMMA	&kp DOT		&kp FSLH	&kp APOS
						&mo SYM		&lt NAV SPACE	&mo ADJ		&mo ADJ		&lt NAV SPACE	&mo SYM  
                        >;
                };

                aux_shift_layer {
 			label= "AUX_SHIFT";
 			bindings = <
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
						&trans		&trans		&trans		&trans		&trans		&trans  
                        >;
                };

                apple_base_layer {
 			label= "APPLE_BASE";
 			bindings = <
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
&lt A_DIAC TAB	&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&lt A_DIAC APOS
						&trans		&trans		&trans		&trans		&trans		&trans  
                        >;
                };

                windows_base_layer {
 			label= "WINDOWS_BASE";
 			bindings = <
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
&lt W_DIAC TAB	&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&lt W_DIAC APOS
						&trans		&trans		&trans		&trans		&trans		&trans  
                        >;
                };

                sym_layer {
			label= "SYM";
			bindings = <
		&none		&none		&kp LBRC	&kp RBRC	&none		&none		&kp N7		&kp N8		&kp N9		&kp EQUAL
		&kp LGUI	&kp LALT	&mt LCTRL LBKT	&mt LSHFT RBKT	&kp GLOBE	&mt GLOBE N0	&mt RSHFT N4	&mt RCTRL N5	&mt RALT N6	&mt RGUI MINUS
&none		&none		&none		&kp LPAR	&kp RPAR	&none		&none		&kp N1		&kp N2		&kp N3		&kp BSLH	&kp GRAVE 
						&trans		&trans		&trans		&trans		&trans		&trans      
                        >;
                };

                nav_layer {
			label= "NAV";
			bindings = <
		&kp F1		&kp F2		&kp F3		&kp F4		&kp CAPS	&kp CAPS	&kp HOME	&kp UP		&kp END		&kp PG_UP  
		&mt LGUI F5	&mt LALT F6	&mt LCTRL F7	&mt LSHFT F8	&mt GLOBE ESC	&mt GLOBE ESC	&kp LEFT	&kp DOWN	&kp RIGHT	&kp PG_DN   
&none		&kp F9		&kp F10		&kp F11		&kp F12		&kp RET		&kp RET		&kp BSPC	&kp DEL		&kp INS		&none		&none       
						&trans		&trans		&trans		&trans		&trans		&trans       
                        >;
                };

                apple_diacritics_layer {
 			label= "APPLE_DIAC";
 			bindings = <
		&none		&ad_c E		&ad_a E		&ad_c R		&ad_c T		&ad_a Y		&ad_o U		&ad_a I		&ad_a O		&none
		&ad_a A		&ad_c S		&ad_c D		&kp LSHFT	&none		&ad_a U		&kp RSHFT	&none		&none		&none
&none		&ad_c Z		&none		&ad_c C		&none		&none		&ad_c N		&none		&none		&none		&none		&none
						&none		&none		&none		&none		&none		&none
                        >;
                };

                windows_diacritics_layer {
 			label= "W_DIAC";
 			bindings = <
		&none		&wd_c E		&wd_a E		&wd_c R		&wd_c T		&wd_a Y		&wd_o U		&wd_a I		&wd_a O		&none
		&wd_a A		&wd_c S		&wd_c D		&mo AUX_SHIFT	&none		&wd_a U		&mo AUX_SHIFT	&none		&none		&none
&none		&wd_c Z		&none		&wd_c C		&none		&none		&wd_c N		&none		&none		&none		&none		&none
						&none		&none		&none		&none		&none		&none
                        >;
                };

                windows_diacritics_shift_layer {
 			label= "W_DIAC_S";
 			bindings = <
		&none		&wd_c LS(E)	&wd_a LS(E)	&wd_c LS(R)	&wd_c LS(T)	&wd_a LS(Y)	&wd_o LS(U)	&wd_a LS(I)	&wd_a LS(O)	&none
		&wd_a LS(A)	&wd_c LS(S)	&wd_c LS(D)	&none		&none		&wd_a LS(U)	&none		&none		&none		&none
&none		&wd_c LS(Z)	&none		&wd_c LS(C)	&none		&none		&wd_c LS(N)	&none		&none		&none		&none		&none
						&none		&none		&none		&none		&none		&none
                        >;
                };

                adjust_layer {
			label= "ADJ";
			bindings = <
		&sys_reset	&bt BT_CLR	&bootloader	&none		&none		&tog A_BASE	&none		&none		&none		&none 
		&bt BT_SEL 0	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4	&tog W_BASE	&i_std		&none		&none		&none   
&none		&none		&none		&none		&none		&none		&none		&none		&none		&none		&none		&none         
						&trans		&trans		&trans		&trans		&trans		&trans      
                        >;
                };

                apple_adjust_layer {
 			label= "APPLE_ADJUST";
 			bindings = <
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
		&trans		&trans		&trans		&trans		&trans		&trans		&i_apple	&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
						&trans		&trans		&trans		&trans		&trans		&trans  
                        >;
                };

                windows_adjust_layer {
 			label= "WINDOWS_ADJUST";
 			bindings = <
		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
		&trans		&trans		&trans		&trans		&trans		&trans		&i_win		&trans		&trans		&trans
&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
						&trans		&trans		&trans		&trans		&trans		&trans  
                        >;
                };
        };
};
